.navbar-chica {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  background-color: #f7f7f7;

  padding: 16px 24px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h3 {
  margin: 10px;
  font-size: 25px;
  font-family: 'ZCOOL XiaoWei', serif;
  color: #0b2904;
}

.new-cocktail {
  margin-right: 75px;
  padding: 5px;
  max-height: 35px;
  border-radius: 40px;
  /* width: 100px; */
  background-color: #da531c;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.new-cocktail a {
  font-family: 'ZCOOL XiaoWei', serif;
  text-decoration: none;
  font-size: 17px;
  color: white;
  margin: 5px;
}

.new-cocktail {
  i {
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-left: 4px;
  }
}

img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

